<% @books.each do |book| %>
  <section id='book-<%= book.id %>'>
    <p>Title: <%= book.title %></p>
    <p>Number of Pages: <%= book.num_pages %></p>
    <p>Publication Year: <%= book.pub_year %></p>
    <p>Authors:</p>
    <% book.authors.each do |author| %>
      <p><%= link_to author.name, author_path(author) %></p>
    <% end %>
  </section>
<% end %>
